<!DOCTYPE html>
  <html lang="en" class="no-js">
   
    <head>
        <meta charset="utf-8"/>
        <title>Carrent</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="FlameOnePage freebie theme for web startups by FairTech SEO." name="description"/>
        <meta content="FairTech" name="author"/>
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/animate.css" rel="stylesheet">
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/layout.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
<body>
  <header class="header navbar-fixed-top">
              <nav class="navbar" role="navigation">
                <div class="container">
                      <div class="menu-container js_nav-item">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                          <div class="logo">
                            <a class="logo-wrap" href="#body">
                                <img class="logo-img logo-img-main" src="img/logo.png" alt="FlameOnePage Logo">
                                <img class="logo-img logo-img-active" src="img/logo-dark.png" alt="FlameOnePage Dark Logo">
                            </a>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse nav-collapse">
          
          <!--div class="language-switcher">
            <ul class="nav-lang">
                        <li><a class="active" href="#">EN</a></li>
              <li><a href="#">DE</a></li>
            <li><a href="#">FR</a></li>
            </ul>
          </div--> 
          
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-right">
                            <!--    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#body">Home</a></li> -->
                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/signin.html">Logout</a></li>      
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
      </header>
   <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="img/1920x1080/01.jpg" alt="Slider Image">
                    <div class="container" style="width: 100%;">
                        <div class="carousel-centered" style="width: 100%; padding-left: 50px; padding-right: 50px;">
              <div class="margin-b-100" style="width: 100%;">
                         <div id="demo" style=" width: 100%; padding-bottom:20px;">
  <h2>Owner Detais of the Vehicle <%= obj.VID %></h2>
  
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1" style="width : 100%;">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
       <tr>
          <th>Name</th>
          <th>Email</th>
      <th>PhoneNO</th>
      <th>Address</th>
          <th>LicenseNO</th>
          <th>VehicleName</th>
        </tr>
      </thead>
      <tbody>
        <% obj.forEach(function (obj) { %>
       <tr>
          <td data-title="ID"><%= obj.Name %></td>
          <td data-title="Name"><%= obj.Email %></td>
          <td data-title="Link">
            <a target="_blank"><%= obj.phone %></a>
          </td>
          <td data-title="Status"><%= obj.Addr %></td>
          <td data-title="Status"><%= obj.LNo %></td>
          <td data-title="Status"><%= obj.VehicleName %></td>
        </tr>
       <% }) %>
      </tbody>
    </table>
  </div>
               <br><br>
               <div>
      <form action="/rentCar" method="post">
                
         <label for="VID" style="float:left; color:red;">Rent the Car???</label>
     

                    
                 <input style="color:red;font-family: 'Comfortaa', cursive;" type="submit">
                  </form>
  
  
  
</div>
              </div>
            </div>
                      </div>  
            
                    </div>
                </div>
  
  </body>

  </html>
       